
.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: $font;
    position: fixed;
    top: 1rem;
    right: 1rem;

    &:hover {
        cursor: pointer;
    }
}

.burger-bar,
.burger-bar::before,
.burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: $pink;
    transition: all .5s ease-in-out;
}

.burger-bar {

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
    }

    &::before {
        transform: translateY(-12px);
    }

    &::after {
        transform: translateY(12px);
    }
}

.show-nav .burger-bar::before {
    transform: rotate(45deg);
}

.show-nav .burger-bar::after {
    transform: rotate(-45deg);
}

.show-nav .burger-bar {
    background: transparent;
    width: 0;
}

.nav {
    &__mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 100px;
        align-items: flex-end;
        box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);

        &__logo {
            width: 13rem;
            height: 4.25rem;
        }

        & div {
            display: flex;
            flex-direction: column;
            position: fixed;
            bottom: 0;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            font-size: 1.5rem;
            right: -100vw;
            transition: all 1s ease-out;
        }

        &__link {
            color: $font;
            list-style: none;
            @include margin-padding (null, null, all, 30px 20px 10px 20px);
            height: 15%;
            border-top-left-radius: 50px;
            font-size: 3rem;
            text-align: center;

            &:nth-of-type(4n+1) {
                background-color: $purple;
            }

            &:nth-of-type(2) {
                background-color: $green;
            }

            &:nth-of-type(3) {
                background-color: $blue;
            }

            &:nth-of-type(4) {
                background-color: $pink;
            }           
        }
    }

    & .show-nav {
        & div {
            right: 0;
            backdrop-filter: brightness(0.5);
            transition: all 0.5s ease-in-out;
        }

        .nav__mobile__link {
            animation: menu 1s forwards;
            opacity: 0;

            &:nth-child(1) {
                @include delay ($delaydebut)
            }

            &:nth-of-type(2) {
                @include delay(1.5 * $delaydebut);
            }

            &:nth-of-type(3) {
                @include delay(2 * $delaydebut);
            }

            &:nth-of-type(4) {
                @include delay(2.5 * $delaydebut);
            }

            &:nth-of-type(5) {
                @include delay(3 * $delaydebut);
            }

        }
    }
}
.nav__mobile__link.reverse-exit-animation {
    animation: menu-reverse 1s forwards;
    opacity: 1;

    &:nth-of-type(2) {
        @include delay($delaydebut);
    }

    &:nth-of-type(3) {
        @include delay(2 * $delaydebut);
    }

    &:nth-of-type(4) {
        @include delay(3 * $delaydebut);
    }

    &:nth-of-type(5) {
        @include delay(4 * $delaydebut);
    }
}