.header {
    @include margin-padding(all, 100px 0, null, null);

    &__titre {
        text-align: right;
        @include margin-padding(all, 0 200px 50px 0, null, null);
        text-shadow: 3px 3.5px 0 rgba($yellow, 0.7);
    }

    &__pres {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;

        &__img {
            width: 300px;
            filter: drop-shadow(5px 5px 5px rgba(156, 156, 156, 0.75));        }

        &__intro {
            background-color: $yellow;
            width: 45%;
            border-radius: 0 0 125px 3px/3px 85px 5px 55px;

            @include margin-padding (null, null, all, 30px);
            @include shadow (6px 7px 14px 0px rgba(156, 156, 156, 0.75));
        }
    }
}

.competences {
    @include margin-padding(all, 100px 0, null, null);

    &__titre {
        text-align: center;
        @include margin-padding(all, 50px 0, null, null);
        text-shadow: 3px 3.5px 0 rgba($yellow, 0.7);
    }

    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 50px;
    }

    &__cat {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 30px;
        width: 40%;
        border: 2px solid $font;
        border-radius: 0 0 125px 3px/3px 85px 5px 55px;
        box-shadow: 4px 4px 0px $yellow;
        @include margin-padding(null, null, all, 30px 50px);

        &__titre {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2em;
        }

        &__img {
            display: flex;
            justify-content: center;
        }
    }
}