@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Pacifico&display=swap");
@keyframes rotateicon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu {
  0% {
    transform: translatex(100vw);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #353535;
}

html {
  margin: auto;
  padding: 0 1.25rem;
  background: linear-gradient(30deg, #A9DEF9, #F694C1, #D3F8E2, #E4C1F9);
  background-size: 240% 240%;
  animation: gradient-animation 10s ease infinite;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 77.5rem;
  height: 100%;
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 992px) {
  body {
    margin-top: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: #353535;
}

#root {
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.3764705882) 1px, rgba(255, 250, 250, 0.8) 1px), radial-gradient(rgba(255, 250, 250, 0.8) 2px, rgba(255, 250, 250, 0.5) 2px);
  background-size: 30px 30px;
  background-position: center, center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

h1, h2 {
  font-family: Pacifico;
  font-size: 3rem;
}

.nav {
  position: relative;
  z-index: 999;
}
.nav__desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 100px;
  align-items: flex-end;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nav__desktop__logo {
  width: 13rem;
  height: 4.25rem;
}
.nav__desktop div {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-size: 1.5rem;
}
.nav__desktop__link {
  color: #353535;
  list-style: none;
  padding: 30px 20px 10px 20px;
  border-radius: 15px 15px 0 0;
}
.nav__desktop__link:nth-of-type(4n+1) {
  background-color: #E4C1F9;
}
.nav__desktop__link:nth-of-type(2) {
  background-color: #D3F8E2;
}
.nav__desktop__link:nth-of-type(3) {
  background-color: #A9DEF9;
}
.nav__desktop__link:nth-of-type(4) {
  background-color: #F694C1;
}
.nav__desktop__link__active {
  margin-top: -20px;
}

.navbar__burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: #353535;
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.navbar__burger:hover {
  cursor: pointer;
}

.burger-bar,
.burger-bar::before,
.burger-bar::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background: #F694C1;
  transition: all 0.5s ease-in-out;
}

.burger-bar::before, .burger-bar::after {
  content: "";
  position: absolute;
  left: 0;
}
.burger-bar::before {
  transform: translateY(-12px);
}
.burger-bar::after {
  transform: translateY(12px);
}

.show-nav .burger-bar::before {
  transform: rotate(45deg);
}

.show-nav .burger-bar::after {
  transform: rotate(-45deg);
}

.show-nav .burger-bar {
  background: transparent;
  width: 0;
}

.nav__mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 100px;
  align-items: flex-end;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nav__mobile__logo {
  width: 13rem;
  height: 4.25rem;
}
.nav__mobile div {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  font-size: 1.5rem;
  right: -100vw;
}
.nav__mobile__link {
  color: #353535;
  list-style: none;
  padding: 30px 20px 10px 20px;
  height: 15%;
  border-top-left-radius: 50px;
  font-size: 3rem;
  text-align: center;
}
.nav__mobile__link:nth-of-type(4n+1) {
  background-color: #E4C1F9;
}
.nav__mobile__link:nth-of-type(2) {
  background-color: #D3F8E2;
}
.nav__mobile__link:nth-of-type(3) {
  background-color: #A9DEF9;
}
.nav__mobile__link:nth-of-type(4) {
  background-color: #F694C1;
}
.nav .show-nav div {
  right: 0;
  backdrop-filter: brightness(0.5);
  transition: all 0.5s ease-in-out;
}
.nav .show-nav .nav__mobile__link {
  animation: menu 1s forwards;
  opacity: 0;
}
.nav .show-nav .nav__mobile__link:nth-child(1) {
  animation-delay: 0.2s;
}
.nav .show-nav .nav__mobile__link:nth-of-type(2) {
  animation-delay: 0.4s;
}
.nav .show-nav .nav__mobile__link:nth-of-type(3) {
  animation-delay: 0.6s;
}
.nav .show-nav .nav__mobile__link:nth-of-type(4) {
  animation-delay: 0.8s;
}
.nav .show-nav .nav__mobile__link:nth-of-type(5) {
  animation-delay: 1s;
}

.header {
  margin: 50px 0;
}
.header__titre {
  text-shadow: 3px 3.5px 0 rgba(228, 193, 249, 0.8);
  text-align: right;
  margin: 0 200px 50px 0;
  margin: 0 200px 50px 0;
}
.header__pres {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.header__pres__img {
  width: 300px;
  filter: drop-shadow(5px 5px 5px rgba(156, 156, 156, 0.75));
}
.header__pres__intro {
  background-color: #E4C1F9;
  width: 45%;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  padding: 30px;
  box-shadow: 6px 7px 14px 0px rgba(156, 156, 156, 0.75);
}

.competences {
  margin: 100px 0;
}
.competences__titre {
  text-shadow: 3px 3.5px 0 rgba(228, 193, 249, 0.8);
  text-align: center;
  margin: 50px 0;
}
.competences__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
}
.competences__cat {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 30px;
  width: 40%;
  border: 2px solid #353535;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  box-shadow: 4px 4px 0px #E4C1F9;
  padding: 30px 50px;
}
.competences__cat__titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}
.competences__cat__img {
  display: flex;
  justify-content: center;
}

.formations__section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 100px 0;
}
.formations__titre {
  text-shadow: 3px 3.5px 0 rgba(211, 248, 226, 0.8);
  text-align: center;
  margin: 50px 0;
}
.formations__article {
  display: flex;
  justify-content: space-evenly;
}
.formations__article__desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  width: 60%;
  border: 2px solid #353535;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  box-shadow: 4px 4px 0px #D3F8E2;
}
.formations__article__title {
  font-size: 2rem;
}
.formations__article__school mark {
  background: linear-gradient(to right, rgba(211, 248, 226, 0.6) 0%, rgba(211, 248, 226, 0.7) 60%, rgba(211, 248, 226, 0.7) 60%, rgba(211, 248, 226, 0.8) 85%, #d3f8e2 100%);
  padding: 2px 10px;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
}
.formations__article__liste {
  list-style: none;
}
.formations__article__liste li:not(:last-child) {
  margin-bottom: 10px;
}
.formations__article__year {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "pacifico";
  transform: rotate(-10deg);
  padding: 30px;
  position: relative;
  background: #D3F8E2;
  background: linear-gradient(-150deg, transparent 1.5em, #D3F8E2 0);
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15);
}
.formations__article__year::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(210deg, transparent 50%, rgba(145, 238, 183, 0.6) 0, rgba(123, 234, 168, 0.8) 100%) 100% 0 no-repeat;
  width: 3em;
  height: 1.7320508076em;
  transform: rotateX(180deg) rotateZ(120deg);
  border-bottom-left-radius: inherit;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15);
}

.experiences__section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 100px 0;
}
.experiences__titre {
  text-shadow: 3px 3.5px 0 rgba(169, 222, 249, 0.8);
  text-align: center;
  margin: 50px 0;
}
.experiences__article {
  display: flex;
  justify-content: space-evenly;
}
.experiences__article__desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  width: 60%;
  border: 2px solid #353535;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  box-shadow: 4px 4px 0px #A9DEF9;
}
.experiences__article__title {
  font-size: 2rem;
}
.experiences__article__school mark {
  background: linear-gradient(to right, rgba(169, 222, 249, 0.6) 0%, rgba(169, 222, 249, 0.7) 60%, rgba(169, 222, 249, 0.7) 60%, rgba(169, 222, 249, 0.8) 85%, #a9def9 100%);
  padding: 2px 10px;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
}
.experiences__article__liste {
  list-style: none;
}
.experiences__article__liste li:not(:last-child) {
  margin-bottom: 10px;
}
.experiences__article__year {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "pacifico";
  transform: rotate(-10deg);
  padding: 30px;
  position: relative;
  background: #A9DEF9;
  background: linear-gradient(-150deg, transparent 1.5em, #A9DEF9 0);
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15);
}
.experiences__article__year::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(210deg, transparent 50%, rgba(97, 195, 244, 0.6) 0, rgba(74, 185, 242, 0.8) 100%) 100% 0 no-repeat;
  width: 3em;
  height: 1.7320508076em;
  transform: rotateX(180deg) rotateZ(120deg);
  border-bottom-left-radius: inherit;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15);
}

.portfolio__titre {
  text-shadow: 3px 3.5px 0 rgba(246, 148, 193, 0.8);
  text-align: center;
  margin: 50px 0;
}
.portfolio__section {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 2px solid black;
  border-width: 0 2px 2px;
  margin: 35px auto 0 auto;
  position: relative;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
}
.portfolio__section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: #111;
  background: linear-gradient(to right, #111 15px, transparent 5px, transparent 550px, #111 550px);
}
.portfolio__section__titre {
  display: block;
  margin: -50px 22px;
}
.portfolio__article {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.portfolio__article:last-of-type {
  margin-bottom: 100px;
}
.portfolio__article__desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  width: 45%;
  justify-content: center;
}
.portfolio__article__title {
  font-size: 2rem;
  text-align: center;
}
.portfolio__article__school {
  text-align: center;
}
.portfolio__article__school mark {
  background: linear-gradient(to right, rgba(246, 148, 193, 0.6) 0%, rgba(246, 148, 193, 0.7) 60%, rgba(246, 148, 193, 0.7) 60%, rgba(246, 148, 193, 0.8) 85%, #f694c1 100%);
  padding: 2px 10px;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
}
.portfolio__article__liste {
  list-style: none;
}
.portfolio__article__liste li:not(:last-child) {
  margin-bottom: 10px;
}
.portfolio__article__btn {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.portfolio__article__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  border: #353535 1px solid;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}
.portfolio__article__btn a:first-of-type {
  font-size: 1.5rem;
}
.portfolio__article__btn a::before, .portfolio__article__btn a::after {
  content: " ";
  transition: 0.2s ease;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.portfolio__article__btn a::before {
  background: #E4C1F9;
  transform: translate(6px, 6px);
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
}
.portfolio__article__btn a::after {
  border: 1px solid black;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
}
.portfolio__article__btn a:hover:before {
  transform: translate(0);
}

.slideshow {
  width: 45%;
  position: relative;
  height: 445px;
  filter: drop-shadow(5px 5px 5px rgba(156, 156, 156, 0.75));
  transform: rotate(-2deg);
  position: relative;
}
@media screen and (max-width: 768px) {
  .slideshow {
    height: 15.9375rem;
    margin: 1.25rem auto 0.9375rem auto;
  }
}
.slideshow::before {
  content: "";
  width: 30%;
  height: 40px;
  position: absolute;
  background: radial-gradient(circle at 50% 60%, rgb(149, 176, 249), rgba(149, 176, 249, 0) 50%), radial-gradient(circle at 10% 10%, rgb(114, 226, 253), rgba(114, 226, 253, 0) 50%), radial-gradient(circle at 77% 16%, rgb(184, 150, 255), rgba(184, 150, 255, 0) 50%), radial-gradient(circle at 90% 90%, rgb(86, 207, 210), rgba(86, 207, 210, 0) 50%), radial-gradient(circle at 10% 90%, rgb(168, 112, 253), rgba(168, 112, 253, 0) 50%);
  z-index: 999;
  top: -20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: rotate(-10deg);
}
.slideshow__pictures {
  display: flex;
  height: 100%;
  overflow: hidden;
  border: 3px solid white;
  background: white;
}
.slideshow__pictures__img {
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;
  padding: 10px 10px 50px 10px;
}
.slideshow__control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 50%;
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  bottom: -10px;
  transform: translate(-50%, -50%);
  width: 100%;
}
.slideshow__control__arrow {
  cursor: pointer;
  padding: 0 1.4375rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .slideshow__control__arrow {
    height: 1.5rem;
    padding: 0;
  }
}
.slideshow__index {
  position: absolute;
  text-align: center;
  bottom: 1.5625rem;
  width: 100%;
  font-size: 1.125rem;
  color: #353535;
}
@media screen and (max-width: 768px) {
  .slideshow__index {
    display: none;
  }
}

.slide-in {
  animation: fadein 0.5s;
  opacity: 1;
}

.slide-out {
  animation: fadeout 0.5s;
  opacity: 0;
}/*# sourceMappingURL=main.css.map */