@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Pacifico&display=swap");
@keyframes rotateicon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu {
  0% {
    transform: translatey(1.25rem);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #353535;
  white-space: pre-line;
}

html {
  margin: auto;
  padding: 0 1.25rem;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 77.5rem;
  height: 100%;
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 992px) {
  body {
    margin-top: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: #353535;
}

#root {
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.3764705882) 1px, transparent 1px), radial-gradient(transparent 2px, rgba(255, 250, 250, 0.5) 2px);
  background-size: 30px 30px;
  background-position: center, center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

h1, h2 {
  font-family: Pacifico;
  font-size: 3rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 100px;
  align-items: end;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nav__logo {
  width: 13rem;
  height: 4.25rem;
}
@media screen and (max-width: 768px) {
  .nav__logo {
    width: 9rem;
    height: 3rem;
  }
}
.nav div {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-size: 1.5rem;
}
@media screen and (max-width: 992px) {
  .nav div {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .nav div {
    font-size: 0.75rem;
  }
}
.nav__link {
  color: #353535;
  list-style: none;
  padding: 30px 20px 10px 20px;
  border-radius: 15px 15px 0 0;
}
.nav__link:nth-of-type(1), .nav__link:nth-of-type(5) {
  background-color: #FEEF66;
}
.nav__link:nth-of-type(2) {
  background-color: #D3F8E2;
}
.nav__link:nth-of-type(3) {
  background-color: #A9DEF9;
}
.nav__link:nth-of-type(4) {
  background-color: #F694C1;
}
.nav__link__active {
  margin-top: -20px;
}

.header {
  margin: 100px 0;
}
.header__titre {
  text-align: right;
  margin: 0 200px 50px 0;
  text-shadow: 3px 3.5px 0 rgba(254, 239, 102, 0.7);
}
.header__pres {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}
.header__pres__img {
  width: 300px;
}
.header__pres__intro {
  background-color: #FEEF66;
  width: 45%;
  padding: 30px;
  box-shadow: 6px 7px 14px 0px rgba(156, 156, 156, 0.75);
}

.competences {
  margin: 100px 0;
}
.competences__titre {
  text-align: center;
  margin: 50px 0;
  text-shadow: 3px 3.5px 0 rgba(254, 239, 102, 0.7);
}
.competences__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
}
.competences__cat {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 30px;
  width: 40%;
  border: 2px solid #353535;
  border-radius: 25px;
  box-shadow: 4px 4px 0px #FEEF66;
  padding: 30px 50px;
}
.competences__cat__titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}
.competences__cat__img {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */