* {
    box-sizing: border-box;
    @include margin-padding(all, 0, all, 0);
    color: $font;
}

html {
    @include margin-padding(all, auto, all, 0 1.25rem);
    
        background: linear-gradient(30deg,$blue,$pink,$green,$purple);
        background-size: 240% 240%;
        animation: gradient-animation 10s ease infinite;
    background-attachment: fixed;
    @include mobile-only{
        @include margin-padding(all, 0, all, 0);
    }
 }
body {
    display: flex;
    flex-direction: column;
    max-width: 77.5rem;
    height: 100%;
    @include margin-padding(all, 0 auto 0 auto, null, null);
}

a {
    text-decoration: none;
    color: $font;
}

#root {
    height: 100%;
    background-image: radial-gradient(#00000060 1px, rgba($color:$white, $alpha: 0.8) 1px),
        radial-gradient(rgba($color:$white, $alpha: 0.8)2px, rgba($white, 0.5) 2px);
    background-size: 30px 30px;
    background-position: center, center;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
}