* {
    box-sizing: border-box;
    @include margin-padding(all, 0, all, 0);
    color: $font;
    white-space:pre-line;
}

html{
    @include margin-padding(all, auto, all, 0 1.25rem);
}

body {
    display: flex;
    flex-direction: column;
    max-width: 77.5rem;
    height: 100%;
    @include margin-padding(all, 0 auto 0 auto,null,null);
    @include tablet-only{
        @include margin-padding(top, 1.25rem,null,null);

    }
    
}

a {
    text-decoration: none;
    color: $font;
}

#root{
    height: 100%;
    background-image: radial-gradient(#00000060 1px, transparent 1px),
    radial-gradient(transparent 2px, rgba($white,0.5) 2px);
background-size: 30px 30px;
background-position: center,center;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
}
