@keyframes rotateicon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu {
  0% {
    transform: translatey(1.25rem);
    opacity: 0;
  }

  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}