$yellow: #FEEF66;
$blue: #A9DEF9;
$pink: #F694C1;
$green:#D3F8E2;
$font:#353535;
$white:#FFFAFA;
$border-radiusCat: 0 0 125px 3px/3px 85px 5px 55px;

$breakpoints: (tablet: 992px,
  phone: 768px,
);
$delaydebut: 0.3s;
